@import "../../style/vars";

.header {
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: $primary-color;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);

    ul {
        display: flex;

        li {
            padding: 0 15px;

            a {
                cursor: pointer;
                text-transform: uppercase;
            }
        }
    }
}
