@import "../../../style/vars";

.navigation {
    text-transform: uppercase;
    color: #fff;
    background-color: $primary-color;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);

    .categoriesWrapper {
        position: relative;
        width: 270px;

        .categoriesButton {
            position: relative;
            width: 100%;
            padding: 15px;
            font-weight: 700;
            background-color: $accent-color;
            cursor: pointer;
            transition: .3s color;

            > i {
                position: relative;
                bottom: 1px;
            }

            &:hover {
                color: $primary-color;
            }
        }
    }

    .navbar {
        padding-left: 40px;

        > li + li {
            margin-left: 20px;
        }
    }
}
